@{
    Layout = "_Layout";
}

@using Factory.Models;

<h1> Dr. Sillystringz's Factory Databse</h1>
<hr>

<h3>Engineers</h3>
@if (ViewBag.Engineers.Count == 0)
{
    <p>No Engineers have been added in the database.</p>
}
@foreach (Engineer engineer in ViewBag.Engineers)
{
    <h4>@Html.ActionLink($"{engineer.Name}", "Details", "Engineers", new {id = engineer.EngineerId})</h4>
}
<hr>

<h3>Machines</h3>
@if (ViewBag.Machines.Count == 0)
{
    <p> No Machines have been added in the database.</p>
}
@foreach (Machine machine in ViewBag.Machines)
{
    <h4>@Html.ActionLink($"{machine.Name}", "Details", "Machines", new {id = machine.MachineId})</h4>
}
<hr>

<p>@Html.ActionLink("Manage Engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Manage Machines", "Index", "Machines")</p>